 <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body style="background-color:#fff">
    <section class="vh-100" style="background-color: #fff;">
        <div class="container py-5 h-100" style="background-color:#fff">
            <div class="row d-flex justify-content-center align-items-center" style="background-color:#fff">
                <i class="fa fa-frown-o fa-5x"  aria-hidden="true" style="size: 25px;align-items: center;align-content:center;"></i>
                <p style="text-align: center">No route found</p>
            </div>
    
        </div>
    </section>
</body>
</html>